# mongodb+srv://[user]:[password]@cluster0.j5vxaje.mongodb.net/[table]?retryWrites=true
DATABASE_URL

# Generate one here: https://generate-secret.vercel.app/32 (only required for localhost)
NEXTAUTH_SECRET