html, body
  margin: 0

section.background-image
  width: 30vw
  z-index: -1

  img
    position: relative
    top: 60%
    right: 70%
    max-width: min(70vw, 800px)
    max-height: 100vh
    position: absolute
    z-index: -1

    transform: translateY(-50%)

@media (min-width: 1000px)
  section.recipes
    position: absolute
    top: 50%
    right: 0
    transform: translateY(-50%)
    width: 70%
