div.page-container
  display: inherit

  div.background-image
    width: 30vw
    z-index: -1

    img
      position: relative
      top: 0
      right: 70%
      max-width: min(70vw, 800px)
      max-height: 85%
      z-index: -1

  .recipes
    max-width: 70vw

    @media (max-width: 1000px)
      display: none
