
.navbar
  font-size: 36px

  .nav-item
    list-style-type: none
    font-weight: 400
    display: inline-block
    margin-right: 15px

    .nav-link
      color: gray
      transition: 300ms

      &:hover
        color: #0E1111

    .active
      color: #0E1111
