@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap')

html
  height: -webkit-fill-available

body
  background-color: #ffffff
  background-image: linear-gradient(-90deg, #ffffff 20%, #d7e1ec 100%)
  font-family: 'Yanone Kaffeesatz', sans-serif
  color: #0E1111
  overflow: hidden
  min-height: 100vh
  min-height: -webkit-fill-available

a:-webkit-any-link
  text-decoration: none
  color: initial

div#root
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100%
  display: grid
  grid-template-rows: 15% auto

  > section.page-content
    max-height: 85%
