@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap')

html
  height: -webkit-fill-available
  --main-color: #0E1111
  --additional-color: #FFC107

body
  background-color: #ffffff
  background-image: linear-gradient(-90deg, #ffffff 20%, #e1eaf4 100%)
  background-repeat: repeat-y
  overflow: hidden
  min-height: 100vh
  min-height: -webkit-fill-available
  width: 100vw
  margin: 0

html, body
  width: 100vw

*
  font-family: 'Yanone Kaffeesatz', sans-serif
  color: var(--main-color)

::-webkit-scrollbar
  width: 10px
  height: 10px
  background: transparent

::-webkit-scrollbar-thumb
  background: #a8a8a8c9
  border-radius: 25px

::-webkit-scrollbar-thumb:hover
  background: #a8a8a8

::-webkit-scrollbar-track
  background: #f1f1f1
  border-radius: 25px

a:-webkit-any-link
  text-decoration: none
  color: initial

div#root
  position: absolute
  top: 0
  left: 0
  width: 100vw

  > *
    display: flex

  > header
    justify-content: space-between
    align-items: center

  > main
    justify-content: center

    > *
      display: inherit

iframe.dummy-frame
  display: none !important

// Notiffictions popup
div.popup
  position: fixed
  top: 10%
  left: 50%
  transform: translateX(-50%)
  -webkit-transform: translateX(-50%)
  -moz-transform: translateX(-50%)
  -ms-transform: translateX(-50%)
  -o-transform: translateX(-50%)
  min-width: min(20vW, 20vh)
  min-height: min(2vW, 2vh)
  background-color: rgba(88, 6, 193, 0.75)
  border-radius: max(2vw, 2vh)
  -webkit-border-radius: max(2vw, 2vh)
  -moz-border-radius: max(2vw, 2vh)
  -ms-border-radius: max(2vw, 2vh)
  -o-border-radius: max(2vw, 2vh)
  display: flex
  justify-content: center
  align-items: center
  padding: 20px
  text-align: center
  font-size: 24px
  z-index: 10
  opacity: 0
  color: snow

  &.info
    background-color: rgb(0, 188, 212, 0.75)

  &.success
    background-color: rgba(0, 201, 0, 0.75)

  &.error
    background-color: rgba(254, 42, 42, 0.75)
