.recipe-container
  width: 100vw
  height: max-content
  margin-top: 5vh
  margin-top: calc(var(--vh, 1vh) * 5)
  line-height: 1.2

  display: grid
  grid-template-areas: "image title" "image description" "ingredients ingredients" "steps steps" "comments comments"
  grid-template-columns: min(40%, 600px) 1fr
  grid-template-rows: auto 1fr auto auto auto

  *
    height: min-content

  img.main-image
    $size: 50vw
    $max-size: calc(var(--vh, 1vh) * 90)
    object-fit: cover
    width: $size
    height: $size
    max-width: $max-size
    max-height: $max-size
    border-radius: 50%
    position: relative
    right: 10vw
    grid-area: image

  div.title
    font-size: 40px
    font-weight: 400
    margin-top: 20px
    margin-bottom: 20px
    height: min-content
    flex-grow: 1
    flex-basis: 50%
    grid-area: title
    max-width: 60vw
    margin-left: 20px
    margin-right: 20px

    div.text
      width: max-content
      max-width: inherit
      margin-right: 20px

    *
      display: inline-block

  div.description
    font-weight: 200
    font-size: 30px
    margin-left: 20px
    margin-top: 20px
    margin-bottom: 20px
    grid-area: description
    max-width: 60vw
    margin-left: 20px
    margin-right: 20px

    button.scrollToNext
      height: min-content
      font-size: 20px
      padding-right: 25px
      padding-left: 25px
      padding-top: 6px
      padding-bottom: 5px
      background-color: transparent
      border-style: solid
      border-radius: 15px
      transition: 0.3s
      white-space: nowrap
      display: inline-block
      border-color: var(--additional-color)
      color: var(--additional-color)

      &:hover
        cursor: pointer
        background-color: var(--additional-color)
        color: var(--main-color)

      &.sign-in
        border-color: transparent

        &:hover
          background-color: lightgray

  div.ingredients
    max-width: 83vw
    font-weight: 200
    font-size: 30px
    margin-left: 10%
    margin-right: auto
    margin-top: 50px
    margin-bottom: 20px
    grid-area: ingredients

    div.title
      font-weight: 400
      font-size: 35px
      margin-bottom: 10px
      margin-left: 0

    ul.list
      margin-top: 10px

    @media ( max-width: 1000px )
      margin-top: 0

  div.steps
    grid-area: steps

    div.title
      text-align: center
      margin-left: auto
      margin-right: auto

    ol.list
      list-style: none
      counter-reset: custom-counter
      margin-top: 10px
      margin-bottom: 10px
      margin-left: 50px
      margin-right: 50px
      padding-left: 50px
      padding-right: 50px

      li.step
        counter-increment: custom-counter
        margin-top: 40px
        font-weight: 200
        font-size: 30px

        &::before
          position: absolute
          content: counter(custom-counter)
          font-weight: bold
          font-size: 40px
          transform: translate(-80%, -25%)
          width: 70px
          height: 70px
          text-align: center
          line-height: 70px
          border-radius: 50%
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25)

        div.title
          font-weight: 400
          font-size: 35px
          text-align: left
          margin-left: 40px
          margin-right: auto
          width: max-content
          max-width: inherit

        div.description
          margin-left: auto
          margin-right: auto
          display: inline-block
          width: calc(50% - 100px)
          padding-left: 50px
          padding-right: 50px
          vertical-align: top

        img.step-image
          width: 50%
          border-radius: 10px
          left: 50%
          display: inline-block

        & > *
          width: 100%

        @media (min-width: 1000px)
          div.title
            margin-left: 50px

        @media (max-width: 1000px)
          display: -webkit-box
          display: -moz-box
          display: -ms-flexbox
          display: -webkit-flex
          display: flex
          -webkit-box-orient: vertical
          -moz-box-orient: vertical
          -webkit-flex-direction: column
          -ms-flex-direction: column
          flex-direction: column
          -webkit-box-align: start
          -moz-box-align: start
          -ms-flex-align: start
          -webkit-align-items: flex-start
          align-items: flex-start

          margin-top: 0

          div.description
            -webkit-box-ordinal-group: 2
            -moz-box-ordinal-group: 2
            -ms-flex-order: 2
            -webkit-order: 2
            order: 2

            width: 70%
            padding: 0
            text-align: center

          img.step-image
            -webkit-box-ordinal-group: 1
            -moz-box-ordinal-group: 1
            -ms-flex-order: 1
            -webkit-order: 1
            order: 1

            width: 70%
            position: relative
            left: 50%
            transform: translateX(-50%)

          &::before
            transform: translate(-80%, 5%)
            box-shadow: none
            content: counter(custom-counter) " )"

        @media (max-width: 800px)
          div.description
            width: 87vw
            max-width: 87vw
            min-width: 265px

          img.step-image
            width: 100%

      @media (max-width: 600px)
        padding-left: 0
        padding-right: 0
        margin-left: 25px
        margin-right: 25px

        li.step::before
          transform: translate(-40%, 30%)
          width: 50px
          height: 50px
          line-height: 50px
          font-size: 35px

  @media (max-width: 600px)
    grid-template-areas: "image" "title" "description" "ingredients" "steps" "comments"
    grid-template-columns: 1fr
    grid-template-rows: auto 1fr auto auto auto auto
    margin-top: 0

    img.main-image
      width: 87%
      min-width: 265px
      height: initial
      border-radius: 10px
      position: relative
      left: 50%
      transform: translateX(-50%)
      max-width: 800px
      max-height: 800px
      grid-area: image

    > div.title
      width: 87vw
      width: min-content
      max-width: 87vw
      min-width: 265px
      margin-left: auto
      margin-right: auto
      text-align: center

      > div.text
        margin: 0

    > div.description
      width: 87vw
      margin-left: auto
      margin-right: auto
      max-width: 87vw

  div.comments
    grid-area: comments
