.recipe-container
  display: flex
  width: 100vw
  height: max-content
  margin-top: 5vh

  img
    $width: 60vw
    object-fit: cover
    width: $width
    height: $width
    border-radius: 50%
    position: relative
    right: 20%