@mixin rating($rating)
  @for $i from 1 through 5
    @if $i <= $rating
      span.rating-star:nth-child(#{$i})
        color: var(--additional-color)
      span.rating-star:nth-child(#{$i})::before
        content: '★'
    @else
      span.rating-star:nth-child(#{$i})
        color: darkgray
      span.rating-star:nth-child(#{$i})::before
        content: "☆"

div.rate.rating-0
  @include rating(0)
div.rate.rating-1
  @include rating(1)
div.rate.rating-2
  @include rating(2)
div.rate.rating-3
  @include rating(3)
div.rate.rating-4
  @include rating(4)
div.rate.rating-5
  @include rating(5)

div.rate span.rating-star
  transition: all 0.2s ease-in-out
  position: relative
  top: 0

  &:hover
    cursor: pointer
    top: -5px
